<div class="text-center">
  <h1 class="title">
    <span>FILLE</span>
    <span>&</span>
    <span>GARCON</span>
  </h1>
</div>


<div class="container" id="content">
  <div class="row">
    <div class="card align-self-left col" id="girlContainer" style="width: 32rem">
      <div class="card-body text-center">
        <h5 class="card-title title_image">FILLE</h5>
        <p class="card-text">Déplacer les éléments associé au fille ci-dessous</p>

        <div
        cdkDropList
        #girlList="cdkDropList"
        id='girlList'
        [cdkDropListData]="girl"
        [cdkDropListConnectedTo]="[boyList,motList]"
        class="align-bottom dropZone container"
        (cdkDropListDropped)="drop($event)">
        <div class="drop_content" *ngFor="let mot of girl" cdkDrag>
          {{mot}}
        </div>

      </div>
      </div>
    </div>

    <div class="card align-self-right col" id="boyContainer" style="width: 32rem;">
      <div class="card-body text-center">
        <h5 class="card-title title_image">Garcon</h5>
        <p class="card-text">Déplacer les éléments associé au garçon ci-dessous</p>

        <div
        cdkDropList

        #boyList="cdkDropList"
        id='boyList'
        [cdkDropListData]="boy"
        [cdkDropListConnectedTo]="[girlList,motList]"
        class="align-bottom dropZone"
        (cdkDropListDropped)="drop($event)">
        <div class="drop_content" *ngFor="let mot of boy" cdkDrag>
          {{mot}}
        </div>

      </div>
      </div>
    </div>
  </div>
</div>


<div class="card align-middle container" id="container" style="width: 32rem;margin-top : 10%">
  <div class="card-body text-center">
    <h5 class="card-title title_image">Liste de mots</h5>
    <div
    cdkDropList
    #motList="cdkDropList"
    [cdkDropListData]="mots"
    [cdkDropListConnectedTo]="[girlList, boyList]"
    class="align-bottom dropZone align-middle"
    (cdkDropListDropped)="drop($event)">
    <div class="drop_content" *ngFor="let mot of mots" cdkDrag>
      {{mot}}
    </div>
  </div>
</div>
</div>

<div class="card align-middle container" *ngIf="this.finish" id="finish" style="width: 32rem;margin-top : 10%">
  <div class="card-body text-center">
    <h5 class="card-title title_image">TERMINER</h5>

  </div>
</div>

