<!-- Affichage des themes -->
<div class="container card container_list" *ngIf="!this.create_theme">
  <h2 class="card-header">Thémes</h2>

  <div class="card-body">
    <div class="row" *ngIf="!this.create_theme">
      <div class="col-md-12 text-center">
        <button mat-raised-button color="primary" style="padding : 1%; font-size : 24px"
          (click)="this.create_theme = true">
          <i class="fa-solid fa-circle-plus fa-lg" style="margin-right : 2% ; margin-bottom : 1%"></i>
          Créer un thème
        </button>
      </div>
    </div>

    <div class="row" style="margin-top : 2%">
      <div class="col-md-12 text-center">
        <h2 class="card-title">Liste des thèmes</h2>

        <div *ngIf="this.test.length != 0">
          <figure class="figure " *ngFor="let image of this.test">
            <img style="margin-left : 5px" (click)="edit(image)"
              class="delete" src='http://92.154.61.105:8080/~nacer/vue_image.php?id_image={{image.id[0]}}' width="200px"
              height="200px" class="figure-img img-fluid rounded" alt="...">
            <a class="remove-image" (click)="onSend_delete(image.id_theme)" (click)="remove2(image.id_theme)"
              style="display: inline;" title="Supprimer le thème">&#215;</a>

            <figcaption class="figure-caption text-center">{{image.nom}}</figcaption>

          </figure>
        </div>

        <div *ngIf="this.test.length == 0">
          <div class="alert alert-danger justify-content-center text-center" role="alert">
            <h2 class="alert-heading">
              <i class="fa-solid fa-warning fa-xl" style="margin-right : 2%"></i>
              Il n'y a pas de thèmes existants
            </h2>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<!-- Création / édition théme -->
<div class="container card container_list" *ngIf="this.create_theme">
  <h2 *ngIf="this.recup_image == null"class="card-header">Création d'un thèmes </h2>
  <h2 *ngIf="this.recup_image != null" class="card-header">édition du thème {{this.recup_image.nom}}</h2>

  <div class="card-body">
    <div class="row" *ngIf="this.create_theme">
      <div class="col-md-12 text-center">
        <button mat-raised-button style="padding : 1%; font-size : 24px; background : green ; color : white"
          (click)="this.create_theme = false ; this.recup_image = null ;this.nouveau_theme['nom'] = '' ; this.n_theme = []">
          <i class="fa-solid fa-angles-left fa-lg" style="padding-right : 2% ; margin-bottom : 1%"></i>
          Revenir à l'acceuil des thèmes
        </button>
      </div>

    </div>

    <div class="text-center">
      <mat-divider style="background : #ececec ; width : 70%; display : inline-block"></mat-divider>
    </div>


    <div class="form-row text-center">
      <div class="col-md-12">
        <label for="name_input" class="form-label align-middle"><b>Nom</b>
          <input type="text" placeholder="Entrez le nom du thème" style="width : 90%"
            class="form-control form-control-color" [(ngModel)]="this.nouveau_theme['nom']" #name_input (change)="this.nouveau_theme['nom']=name_input.value"
            title="Choisissez le nom du theme">
        </label>

        <h3 class="card-title">Choississez les images du thèmes</h3>

        <div class="row" style="margin-top : 2%">
          <div class="col-md-12 text-center">
            <button mat-raised-button
              style="width : 30%;background : rgb(16, 72, 224) ; color : white; font-size : 25px"
              (click)="recup(this.getListImage())" (click)="this.affiche_image=true" *ngIf="!this.affiche_image">
              <i class="fa-solid fa-eye" style="margin-bottom : 1%; margin-right : 2%"></i>
              Voir les
              images</button>
            <button mat-raised-button
              style="width : 30%;background : rgb(16, 72, 224) ; color : white; font-size : 25px"
              *ngIf="this.affiche_image" (click)="noImage()" (click)="this.affiche_image=false">
              <i class="fa-solid fa-eye-slash" style="margin-bottom : 1%; margin-right : 2%"></i>

              Cacher les
              images</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <div class="card-body selectImage_container text-center align-top">
              <div *ngIf="this.affiche_image">
                <h3 class="card-title text-center">Choisissez les images</h3>

                  <figure class="figure" *ngFor="let image of this.getListImage()">
                    <img class="delete" src="{{image.getSrc()}}" width="200px" height="200px"
                      class="figure-img img-fluid rounded img-thumbnail" alt="...">

                    <a *ngIf="this.n_theme.indexOf(image.id,0) == -1" class="add-image"
                      (click)="this.n_theme.push(image.id)" style="display: inline;" title="Ajouter l'image">
                      +
                    </a>

                    <a *ngIf="this.n_theme.indexOf(image.id,0) != -1" class="remove-image"
                      (click)="remove(image.id,this.n_theme)" style="display: inline;" title="Retirer l'image">
                      <i class="fa-solid fa-xmark fa-sm"></i>
                    </a>

                    <figcaption class="figure-caption text-center">{{image.getNom()}}
                      <i *ngIf="this.n_theme.indexOf(image.id,0) != -1" class="fa-solid fa-circle-check fa-lg"
                        style="color : green"></i>
                    </figcaption>

                  </figure>




              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">

            <button mat-raised-button *ngIf="this.nouveau_theme['nom'] && this.n_theme.length && this.recup_image == null "
            (click)="this.nouveau_theme['id']=this.n_theme" (click)="onSend(this.nouveau_theme)">
            <i class="fa-solid fa-paper-plane fa-lg" style="margin-right : 2%; margin-bottom : 1%"></i>
            Créer le thème
            </button>
            <button *ngIf="this.recup_image != null && this.nouveau_theme['nom'] && this.n_theme.length" mat-raised-button (click)="this.recup_image.nom = this.nouveau_theme['nom'];this.recup_image.id = this.n_theme;onSend_update(this.recup_image)"
            style= "font-size : 25px ; padding : 2% ; background : rgb(221, 209, 36)">
            <i class="fa-solid fa-floppy-disk fa-lg" style="margin-right : 2%; margin-bottom : 1%"></i>
            Sauvegarder le thème
            </button>
          </div>

        </div>


      </div>

    </div>
  </div>

</div>
