img:hover
    {
      -moz-box-shadow: 0 0 10px rgb(163, 132, 132);
      -webkit-box-shadow: 0 0 10px rgb(163, 132, 132);
      box-shadow: 0 0 10px rgb(163, 132, 132);
    }
span:hover
    {
      -moz-box-shadow: 0 0 10px rgb(226, 15, 15);
      -webkit-box-shadow: 0 0 10px rgb(226, 15, 15);
      box-shadow: 0 0 10px rgb(226, 15, 15);
    }