<div *ngIf="this.showTitle" class="text-center">
  <h1 class="title">
    <span>A</span>
    <span>B</span>
    <span>E</span>
    <span>C</span>
    <span>E</span>
    <span>D</span>
    <span>A</span>
    <span>I</span>
    <span>R</span>
    <span>E</span>
  </h1>
</div>

<div *ngIf="this.play">
  <div *ngIf="game == null" class="card align-middle container container_play" id="card_error"
    style="width: 32rem; background-color: #3bb8c9; color : black">
    <img class="img-fluid rounded card-img-top" src="../../assets/images/error.png" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title" style="color: red">Erreur !</h5>
      <p class="card-text">Il n'y a pas de jeu selectionné !</p>
    </div>
  </div>

  <div *ngIf="game!.images.length <= 0" class="card align-middle container container_play" id="card_error"
    style="width: 32rem; background-color: #3bb8c9; color : black">
    <img class="img-fluid rounded card-img-top" src="../../assets/images/error.png" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title" style="color: red">Erreur !</h5>
      <p class="card-text">Aucune images !</p>
    </div>
  </div>

  <div *ngIf="game != null && game!.images.length != 0 && finish == false">
    <div class="container container_play" [ngStyle]="{background: game!.bg_color}">
      <img class="img-fluid rounded image_play" src={{this.game!.images[this.nbEntries].getSrc()}}>
      <div *ngIf="this.afficherMot == 'script'">
        <p [ngStyle]="{color: game!.text_color}" class="mot">{{this.game!.images[this.nbEntries].getNom()}}</p>
      </div>
      <p *ngIf="this.afficherMot == 'capital'" style="text-transform:uppercase" [ngStyle]="{color: game!.text_color}"
        class="mot">{{this.game!.images[this.nbEntries].getNom()}}</p>
      <div *ngIf="this.afficherMot == 'cursif'" style="font-family: cursiveFont;" [ngStyle]="{color: game!.text_color}"
        class="mot">{{this.game!.images[this.nbEntries].getNom()}}</div>
      <img *ngIf="this.sound" class="sound" src="../../assets/sound.png">
    </div>
    <div class="container container_play col-md-12 text-center">
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'A')">A</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'B')">B</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'C')">C</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'D')">D</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'E')">E</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'F')">F</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'G')">G</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'H')">H</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'I')">I</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'J')">J</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'K')">K</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'L')">L</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'M')">M</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'N')">N</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'O')">O</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'P')">P</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'Q')">Q</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'R')">R</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'S')">S</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'T')">T</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'U')">U</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'V')">V</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'W')">W</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'X')">X</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'Y')">Y</button>
      <button class="button" [ngStyle]="{background: game!.button_bg_color, color: game!.button_text_color}"
        (click)="click($event, 'Z')">Z</button>
      <div class="text">{{errors}} erreur(s).</div>
      <div class="progress" *ngIf="this.game!.color_progress_bar == 'blue' ">
        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
      </div>

      <div class="progress" *ngIf="this.game!.color_progress_bar == 'green' ">
        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"
          role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
      </div>

      <div class="progress" *ngIf="this.game!.color_progress_bar == 'lightblue' ">
        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
          aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
      </div>

      <div class="progress" *ngIf="this.game!.color_progress_bar == 'orange' ">
        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
          role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
      </div>

      <div class="progress" *ngIf="this.game!.color_progress_bar == 'red' ">
        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
          role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
      </div>
    </div>
  </div>

  <div *ngIf="game != null && finish == true" class="container container_play">
    <img class="img-fluid rounded" src="../../assets/images/congratulations.png">
    <div class="text">Félicitations !</div>
  </div>
</div>

<div class="container container_list card" *ngIf="this.showList">

  <h5 class="card-header">Liste des jeux Abécédaire</h5>

  <div *ngIf="!this.abecedaire_previsualiser" class="create_button align-middle text-center"
    style="margin-bottom : 10px; margin-top : 10px">

    <button class=" align-middle text-center" [routerLink]="['/panel/Abecedaire/create']" mat-raised-button color="warn">
      <i class="fa-solid fa-circle-plus fa-lg" style="margin-bottom : 2%"></i>

      Créer un Abécédaire
    </button>

    <mat-divider style="background : grey; margin : 2%"></mat-divider>


  </div>


  <div *ngIf="this.abecedaire_list.length != 0">

    <!-- Prévisualisation -->
    <div *ngIf="this.abecedaire_previsualiser">

      <mat-divider style="background : grey; margin : 2%"></mat-divider>



      <div class="prev-button align-middle text-center" style="margin-bottom : 10px">
        <div class="prev-button align-middle text-center" style="margin-bottom : 10px">
          <button class="prev-button align-middle text-center" (click)="quitPreviewAbecedaire()" mat-raised-button
            color="warn">
            <i class="fa-solid fa-eye-slash fa-lg" style="margin-bottom : 4px"></i>
            Quitter la prévisualisation</button>
        </div>
      </div>
      <app-abecedaire [showTitle]="false" [game]="this.game"></app-abecedaire>
    </div>


    <!-- Listes des jeux -->
    <div *ngIf="!this.abecedaire_previsualiser">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col"
              *ngFor="let col of ['ID','Date','Nombre d\'image','Type d\'écriture','Vocalisation','Crée par','Actions']">
              {{col}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let element of this.abecedaire_list">
            <th>{{element.id}}</th> <!-- Id du jeu -->
            <th>{{this.parseDate(element.date)}}</th> <!-- Date de création du jeu -->
            <th>{{element.images.length}}</th> <!-- Nombre d'image qui compose le jeu -->
            <th>{{element.typeEcriture}}</th> <!-- Type d'écriture du jeu -->
            <th *ngIf="element.isVocaliser">Oui</th>
            <th *ngIf="!element.isVocaliser">Non</th>
            <th>Aucun</th> <!-- Nom de l'utilisateur qui à créer le jeu -->

            <!-- Actions -->
            <th class="button_actions">
              <!-- Prévisualiser le jeu -->
              <button mat-raised-button title="Prévisualiser le jeu" color="primary"
                (click)="previewAbecedaire(element)">
                <i class="fa-solid fa-eye fa-lg fa-lg" style="margin-bottom : 2px"></i>
              </button>

              <!-- Editer le jeu -->
              <button mat-raised-button title="Editer le jeu" style="background-color : rgb(223, 175, 18)"
                color="primary" (click)="redirectEditAbecedaire(element)">
                <i class="fa-solid fa-pen fa-lg" style=" margin-bottom : 2px"></i>
              </button>

              <!-- Supprimer le jeu -->
              <button mat-raised-button title="Supprimer le jeu" style="background-color : red" color="primary"
                (click)="deleteGameAbecedaire(element)">
                <i class="fa-solid fa-trash fa-lg" style=" margin-bottom : 2px "></i>
              </button>

              <!-- Démarrer une séssion à partir de ce jeu -->
              <button title="Démarrer une séssion à partir de ce jeu" mat-raised-button
                style="background-color : rgb(168, 14, 135)" color="primary">
                <i class="fa-solid fa-play fa-lg" style=" margin-bottom : 2px "></i>
              </button>


            </th>

          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!-- Si la liste des jeu Abecedaire est vide -->
  <div class="text-center" *ngIf="this.abecedaire_list.length == 0">
    <h5 class="card-title" style="color : red">Il n'y a pas de jeu Abécédaire créer</h5>
  </div>


</div>

<div class="container container_list card" *ngIf="this.create_game">

    <h5 *ngIf="!this.edit" class="card-header">Création d'un Abécédaire</h5>
    <h5 *ngIf="this.edit" class="card-header">édition d'un Abécédaire</h5>

    <!-- Formulaire Abecedaire - Bouton de prévisualisation -->
    <div *ngIf="!this.abecedaire_previsualiser">
      <div class="prev-button align-middle text-center" style="margin-bottom : 10px; margin-top : 10px">
        <button *ngIf="this.edit" class="prev-button align-middle text-center" [routerLink]="['/panel/Abecedaire']"
        mat-raised-button color="warn" style="float : left; position : absolute; display : block">
        <i class="fa-solid fa-angles-left" style="margin-bottom : 1px"></i>

        Retour à la liste des jeux
      </button>

        <button class="prev-button align-middle text-center" (click)="setPrevisualiserAbecedaire(true)"
          mat-raised-button color="warn">
          <i class="fa-solid fa-eye fa-lg" style="margin-bottom : 3px"></i>
          Prévisualiser</button>
      </div>

      <!-- Formulaire Abecedaire - Menu de navigation -->
      <div class="stepMenu">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
              <button title="Images" style="background : white; color : black" mat-fab color="primary"
                aria-label="Images" (click)="setFormStep(0)">
                <i class="fa-solid fa-images"></i>
              </button>
            </li>
            <li class="breadcrumb-item">
              <button title="Couleurs" mat-fab color="primary" aria-label="Couleurs" (click)="setFormStep(1)">
                <i class="fa-solid fa-brush"></i>
              </button>
            </li>
            <li class="breadcrumb-item">
              <button title="Texte" mat-fab color="primary" aria-label="Texte" (click)="setFormStep(2)">
                <i class="fa-solid fa-font"></i>
              </button>
            </li>
          </ol>
        </nav>
      </div>


      <!-- Formulaire Reconnaitre - Etape 1 : choix des images -->

        <!-- Etape 1 : Choix des images -->
        <div *ngIf="this.formStep == 0">
          <h2 class="card-title text-center">Choisissez les images</h2>
          <div class="card-body selectImage_container text-center align-top">
            <h5 class="card-header" style="color : black">Listes des images</h5>
            <figure class="figure" *ngFor="let image of this.liste_image">
              <img src="{{image.getSrc()}}" class="figure-img img-fluid rounded" alt="..." (click)="addImageSelected(image)">
              <figcaption class="figure-caption">{{image.getNom()}}</figcaption>
            </figure>
          </div>

          <div class="card-body selectImage_container text-center">
            <h5 class="card-header" style="color : black">Images selectionné</h5>
            <h6 *ngIf="this.selectedImages.length == 0" class="card-title" style="color : black">Vous n'avez
              selectionné
              aucune image</h6>
            <figure class="figure" *ngFor="let image of this.selectedImages">
              <img src="{{image.getSrc()}}" class="figure-img img-fluid rounded" alt="..."
                (click)="deleteImage(image)">
              <figcaption class="figure-caption">{{image.getNom()}}</figcaption>
            </figure>
          </div>
        </div>


        <!-- Etape du formulaire 2 -- Choix des couleurs -->
        <div *ngIf="this.formStep == 1">
          <h2 class="card-title">Choississez les couleurs du jeu</h2>

          <form>

            <div class="form-row">
              <div class="col-md-6">
                <label for="abecedaire_bg_color_input" class="form-label align-middle">Couleur d'arriére plan
                  <input type="color" class="form-control form-control-color"
                    (change)="this.abecedaire_bg_color = abecedaire_bg_color_input.value " #abecedaire_bg_color_input
                    value="{{this.abecedaire_bg_color}}" title="Choisissez la couleur d'arriére-plan"
                    (change)="this.list['bg_color']=abecedaire_bg_color_input.value">
                    
                </label>
              </div>
              <div class="col-md-6">
                <label for="abecedaire_text_color_input" class="form-label align-middle">Couleur du texte
                  <input type="color" class="form-control form-control-color"
                    (change)="this.abecedaire_text_color = abecedaire_text_color_input.value "
                    (change)="this.list['text_color']=abecedaire_bg_color_input.value"
                    #abecedaire_text_color_input value="{{this.abecedaire_text_color}}"
                    title="Choisissez la couleur du texte">
                </label>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6">
                <label for="abecedaire_good_answer_color_input" class="form-label align-middle">Couleur du message
                  bonne
                  réponse
                  <input type="color" class="form-control form-control-color"
                    (change)="this.abecedaire_good_answer_color = abecedaire_good_answer_color_input.value "
                    (change)="this.list['gaw_color']=abecedaire_good_answer_color_input.value"
                    #abecedaire_good_answer_color_input value="{{this.abecedaire_good_answer_color}}"
                    title="Choisissez la couleur du message de bonne réponse">
                </label>
              </div>
              <div class="col-md-6">
                <label for="abecedaire_wrong_answer_color_input" class="form-label align-middle">Couleur du message
                  mauvaise
                  réponse
                  <input type="color" class="form-control form-control-color"
                    (change)="this.abecedaire_wrong_answer_color = abecedaire_wrong_answer_color_input.value "
                    (change)="this.list['waw_color']=abecedaire_wrong_answer_color_input.value"
                    #abecedaire_wrong_answer_color_input value="{{this.abecedaire_wrong_answer_color}}"
                    title="Choisissez la couleur du message de mauvaise réponse">
                </label>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6">
                <label for="abecedaire_button_bg_color_input" class="form-label align-middle">Couleur d'arriére plan
                  du
                  bouton
                  <input type="color" class="form-control form-control-color"
                    (change)="this.abecedaire_button_bg_color = abecedaire_button_bg_color_input.value "
                    (change)="this.list['button_bg_color']=abecedaire_button_bg_color_input.value"
                    #abecedaire_button_bg_color_input value="{{this.abecedaire_button_bg_color}}"
                    title="Choisissez la couleur d'arriére-plan du bouton">
                </label>
              </div>
              <div class="col-md-6">
                <label for="abecedaire_button_text_color_input" class="form-label align-middle">Couleur du texte du
                  bouton
                  <input type="color" class="form-control form-control-color"
                    (change)="this.abecedaire_button_text_color = abecedaire_button_text_color_input.value "
                    (change)="this.list['button_text_color']=abecedaire_button_text_color_input.value"
                    #abecedaire_button_text_color_input value="{{this.abecedaire_button_text_color}}"
                    title="Choisissez la couleur du texte du bouton">
                </label>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4">
                <label for="progressValue" class="form-label align-middle">Couleur de la barre de
                  progression</label>

              </div>
              <div class="col-md-8">
                <select class="form-control" aria-label="Default select example" #progressSelectValue
                  (change)="changeProgressValue('Abecedaire',progressSelectValue)">
                  <option class="text-center" *ngFor="let p of this.progressValue" value="{{p}}"
                    ng-selected="p == this.abecedaire_progress" #progressValue>
                    <p *ngIf="p == 'blue'">Bleu</p>
                    <p *ngIf="p == 'green'">Vert</p>
                    <p *ngIf="p == 'lightblue'">Bleu ciel</p>
                    <p *ngIf="p == 'orange'">Orange</p>
                    <p *ngIf="p == 'red'">Rouge</p>
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <div class="progress" *ngIf="this.abecedaire_progress == 'blue' "(change)="this.list['progress']='blue' ">
                  <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
                  </div>
                </div>

                <div class="progress" *ngIf="this.abecedaire_progress == 'green' "(change)="this.list['progress']='green'">
                  <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                    role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
                  </div>
                </div>

                <div class="progress" *ngIf="this.abecedaire_progress == 'lightblue' "(change)="this.list['progress']='lightblue' ">
                  <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                    role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
                  </div>
                </div>

                <div class="progress" *ngIf="this.abecedaire_progress == 'orange' "(change)="this.list['progress']='orange' ">
                  <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                    role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
                  </div>
                </div>

                <div class="progress" *ngIf="this.abecedaire_progress == 'red' "(change)="this.list['progress']='red'">
                  <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                    role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>


        <!-- Etape du formulaire 3 -- Choix des textes -->
        <div *ngIf="this.formStep == 2" style="text-align : center;">
          <div class="form-row">
            <div class="col-md-12">
              <h2 class="card-title">Type d'écriture</h2>
              <mat-radio-group aria-label="Choisissez un type d'écriture">

                <mat-radio-button *ngIf="this.abecedaire_type_ecriture == 'none'" value="None"
                  (change)="this.abecedaire_type_ecriture = 'none'" style="font-size : 40px" checked
                  (change)="this.list['ecri']='none' ">Aucune
                </mat-radio-button>
                <mat-radio-button *ngIf="this.abecedaire_type_ecriture != 'none'" value="None"
                  (change)="this.abecedaire_type_ecriture = 'none'" 
                  (change)="this.list['ecri']='none' "
                  style="font-size : 40px">Aucune
                </mat-radio-button>

                <mat-radio-button *ngIf="this.abecedaire_type_ecriture == 'cursif'" value="Cursif"
                  (change)="this.abecedaire_type_ecriture = 'cursif'"(change)="this.list['ecri']='CURSIF' "
                  style="font-family: cursiveFont; font-size: 40px" checked>Cursif</mat-radio-button>
                <mat-radio-button *ngIf="this.abecedaire_type_ecriture != 'cursif'" value="Cursif"
                  (change)="this.abecedaire_type_ecriture = 'cursif'"(change)="this.list['ecri']='CURSIF' "
                  style="font-family: cursiveFont; font-size: 40px">
                  Cursif</mat-radio-button>

                <mat-radio-button *ngIf="this.abecedaire_type_ecriture == 'capital'" value="Capital"
                  (change)="this.abecedaire_type_ecriture = 'capital'" style="font-size : 40px" checked
                  (change)="this.list['ecri']='CAPITAL' ">CAPITAL
                </mat-radio-button>
                <mat-radio-button *ngIf="this.abecedaire_type_ecriture != 'capital'" value="Capital"
                (change)="this.list['ecri']='CAPITAL' "(change)="this.abecedaire_type_ecriture = 'capital'" style="font-size : 40px">CAPITAL
                </mat-radio-button>

                <mat-radio-button *ngIf="this.abecedaire_type_ecriture == 'script'" value="Script"
                (change)="this.list['ecri']='script' "(change)="this.abecedaire_type_ecriture = 'script'" style="font-size : 40px" checked>Script
                </mat-radio-button>
                <mat-radio-button *ngIf="this.abecedaire_type_ecriture != 'script'" value="Script"
                (change)="this.list['ecri']='script' "(change)="this.abecedaire_type_ecriture = 'script'" style="font-size : 40px">Script
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <h2 class="card-title">Vocalisation</h2>
              <i *ngIf="!this.abecedaire_isVocaliser" class="fa-solid fa-volume-xmark"
              (change)="this.list['voca']=0 "    
              style="margin-right : 2%; color : #ff4083"></i>
              <i *ngIf="this.abecedaire_isVocaliser" class="fa-solid fa-volume-xmark" style="margin-right : 2%"></i>

              <mat-slide-toggle (change)="this.abecedaire_isVocaliser = vocaliserInput.checked" #vocaliserInput
              (change)="this.list['voca']=true " 
              >
              </mat-slide-toggle>
              <i *ngIf="this.abecedaire_isVocaliser" class="fa-solid fa-volume-high"
                style="margin-left : 2%; color : #ff4083"></i>
              <i *ngIf="!this.abecedaire_isVocaliser" class="fa-solid fa-volume-high" style="margin-left : 2%"></i>
            </div>
          </div>


          <!-- Bouton de création du jeu -->
          <div *ngIf="!this.edit" class="form-row align-middle text-center" align="center">
            <div class="col-md-12 text-center">
              <button class="validate_button align-middle text-center" (click)="onSend(this.list)" (click)="create()"
                mat-raised-button>Créer le
                jeu
                <i class="fa-solid fa-check fa-lg"></i>
              </button>
            </div>
          </div>

          <!-- Bouton de création du jeu -->
          <div *ngIf="this.edit" class="form-row align-middle text-center" align="center">
            <div class="col-md-12 text-center">
              <button class="save_button align-middle text-center" (click)="save()" mat-raised-button>Sauvegarder le
                jeu
                <i class="fa-solid fa-floppy-disk"></i>
              </button>
            </div>
          </div>



        <!--Formulaire Abecedaire -  Menu de navigation par étape -->
        <div class="align-bottom" style="margin : 10px">
          <button type="button" class="btn btn-primary align-left"
            style="background : rgb(13, 197, 13); float : left; border : none" (click)="previousStep()">
            <i class="fa-solid fa-angles-left"></i>
            Etape précédente
          </button>
          <button type="button" class="btn btn-primary align-right"
            style="background : rgb(13, 197, 13); float : right ; border : none" (click)="nextStep()">
            Etape suivante
            <i class="fa-solid fa-angles-right"></i>
          </button>
        </div>

      </div>


    </div>

    <!-- Formulaire abecedaire - Prévisualisation -->
    <div *ngIf="this.abecedaire_previsualiser">
      <div class="prev-button align-middle text-center" style="margin-bottom : 10px ; margin-top : 10px">
        <div class="prev-button align-middle text-center" style="margin-bottom : 10px">
          <button class="prev-button align-middle text-center" (click)="setPrevisualiserAbecedaire(false)"
            mat-raised-button color="warn">
            <i class="fa-solid fa-eye-slash fa-lg" style="margin-bottom : 4px"></i>
            Quitter la prévisualisation</button>
        </div>
      </div>
      <app-abecedaire [game]="this.game" [showTitle]="false"></app-abecedaire>
    </div>
</div>
