.title {
    text-transform: uppercase;
    font-size: 105px;
    font-weight: bold;
    letter-spacing: 6px;
    text-shadow: rgb(0, 0, 0, 0.7) 5px 8px;
  }

.title :nth-child(1n) {
    color: #835ba7;
  }

  .title :nth-child(2n) {
    color: #3e4194;
  }

  .title :nth-child(3n) {
    color: #01afee;
  }

  .title :nth-child(4n) {
    color: #00a656;
  }

  .title :nth-child(5n) {
    color: #fff116;
  }

  .title :nth-child(6n) {
    color: #f68635;
  }

  .title :nth-child(7n) {
    color: #ec3238;
  }

  .title :nth-child(8n) {
    color: #00a656;
  }

  .title :nth-child(9n) {
    color: #01afee;
  }

  .title :nth-child(10n) {
    color: #835ba7;
  }

.image_play {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.container_play {
    width: 40%;
    background: #3bb8c9;
    border-radius: 3%;
    padding: 10px;
    box-shadow: hsl(0deg 0% 0% / 40%) 10px 15px;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: fit-content;
}

.sound {
    margin-top: 20px;
}

.mot {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    user-select: none;
}

.line {
    text-align: center;
}

.text {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    user-select: none;
}

.button {
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: inline-block;
}

.progress {
    margin-top: 5px;
    background-color: #bebebe;
}

.container_list {
  background-color: #303030;
  color: white;
  margin-top: 5%;
  padding: 5px;
  box-shadow: rgba(218, 216, 216, 0.548) 10px 10px;
}

.card-header {
  background-color: #ececec;
  color: #303030;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

.prev-button button {
  background: rgb(209, 42, 12);
}

.selectImage_container {
  display: inline-block;
  width: 45%;
  background: rgba(255, 255, 255, 0.74);
  margin-right: 5%;
  border-radius: 3%;
}

.figure-caption {
  color: black;
}

figure img:hover {
  cursor: pointer;
  border: 3px solid #fff;
}

/* #container1 {
  float: left;
}

#container2 {
  float: right;
}
 */
.image {
  position: relative;
  /* width: 25%; */
  /* max-width: 400px; */
  display: inline-block;
}

.image_add {
  position: relative;
  width: 25%;
  max-width: 400px;
  display: inline-block;
  color: black;
  text-align: center;
}


figure img {
  width: 200px;
  height: 200px;
  margin:5px;
}

.image button:hover {
  border: black solid 2px;
}


.stepMenu {
  align-items: center;
}

.form-label {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.form-control-color {
  height: 40px;
  width: 80px;
  margin-left: 10px;
}

.form-row input {
  float: right;
}

.form-row {
  margin-bottom: 20px;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 25px;
}

.prev-button button {
  background: rgb(209, 42, 12);
}

.create_button button {
  background: rgb(209, 42, 12);
  height: 50px;
  font-size: 20px;
}

.save_button {
  background: rgb(241, 238, 6);
  width: 50%;
  height: 50px;
  color: white;
  font-size: 32px;
  color: black;
}

.save_button i,
.validate_button i {
  margin-bottom: 1%;
  margin-left: 5%;
}



.validate_button {
  background: rgb(9, 209, 9);
  width: 50%;
  height: 50px;
  color: white;
  font-size: 32px;
}


.form-row input {
  margin-left: auto;
  margin-right: 5px;
}

button {
  margin-left : 5px;
}
