<div class="container">
<img class="image" src={{image}}>
<div *ngIf="this.afficherMot == 'cursif'"><p class="mot" >{{mot}}</p></div>
<p *ngIf="this.afficherMot == 'capital'" style="text-transform:uppercase" class="mot" >{{mot}}</p>
<img *ngIf="this.sound" class="sound" src="../../assets/sound.png">
</div>
<div class="container">
<div class="line">
    <button class="button" (click)="click($event, 'A')">A</button>
    <button class="button" (click)="click($event, 'B')">B</button>
    <button class="button" (click)="click($event, 'C')">C</button>
    <button class="button" (click)="click($event, 'D')">D</button>
    <button class="button" (click)="click($event, 'E')">E</button>
    <button class="button" (click)="click($event, 'F')">F</button>
    <button class="button" (click)="click($event, 'G')">G</button>
    <button class="button" (click)="click($event, 'H')">H</button>
    <button class="button" (click)="click($event, 'I')">I</button>
</div>
<div class="line">
    <button class="button" (click)="click($event, 'J')">J</button>
    <button class="button" (click)="click($event, 'K')">K</button>
    <button class="button" (click)="click($event, 'L')">L</button>
    <button class="button" (click)="click($event, 'M')">M</button>
    <button class="button" (click)="click($event, 'N')">N</button>
    <button class="button" (click)="click($event, 'O')">O</button>
    <button class="button" (click)="click($event, 'P')">P</button>
    <button class="button" (click)="click($event, 'Q')">Q</button>
    <button class="button" (click)="click($event, 'R')">R</button>
</div>
<div class="line">
    <button class="button" (click)="click($event, 'S')">S</button>
    <button class="button" (click)="click($event, 'T')">T</button>
    <button class="button" (click)="click($event, 'U')">U</button>
    <button class="button" (click)="click($event, 'V')">V</button>
    <button class="button" (click)="click($event, 'W')">W</button>
    <button class="button" (click)="click($event, 'X')">X</button>
    <button class="button" (click)="click($event, 'Y')">Y</button>
    <button class="button" (click)="click($event, 'Z')">Z</button>
</div>
<div class="text">{{errors}} erreur(s).</div>
<div class="progress">
    <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
</div>
</div>