<div class="col-md-12 text-right">
    <button mat-button mat-dialog-close (click)="close()"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>

<div class="form-row">
    <div class="col-md-3 text-center align-middle">
        <label for="Email" class="form-label align-middle">Email :</label>
    </div>
    <div class="col-md-9 text-center">
        <input type="text" class="form-control" #email title="Email">
    </div>
</div>

<div class="form-row">
    <div class="col-md-3 text-center align-middle">
        <label for="mdp" class="form-label align-middle">Mot de passe :</label>
    </div>
    <div class="col-md-9 text-center">
        <input [type]="true ? 'password' : 'text'" class="form-control" #mdp title="Mot de passea">
    </div>
</div>

<div class="form-row">
    <div class="col-md-12 text-center">
        <button (click)="login(email.value, mdp.value)" mat-raised-button color="primary" aria-label="Valider"><i class="fa-solid fa-check"></i> Se connecter</button>
    </div>
</div>

<div class="form-row">
    <div class="col-md-6 text-center">
        <a href="">Mot de passe oublié?</a>
    </div>
    <div class="col-md-6 text-center">
        <a href="account">Pas de compte?</a>
    </div>
</div>