<div *ngIf="!inscript && !oublie">
    <div class="col-md-12 text-right">
        <button mat-button mat-dialog-close (click)="close()" style="background-color: rgb(221, 221, 221);"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>

    <div class="form-row">
        <div class="col-md-3 text-center align-middle">
            <label for="Email" class="form-label align-middle">Email :</label>
        </div>
        <div class="col-md-9 text-center">
            <input type="text" class="form-control" #email title="Email" (keypress)="enterKeyLogin($event, email.value, mdp.value)"
            (change)="this.list['mail']=email.value">
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-3 text-center align-middle">
            <label for="mdp" class="form-label align-middle">Mot de passe :</label>
        </div>
        <div class="col-md-9 text-center">
            <input type="password" class="form-control" #mdp title="Mot de passe"  (keypress)="enterKeyLogin($event, email.value, mdp.value)"
            (change)="this.list['pwd']=mdp.value">
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12 text-center">
            <button (click)="onSend_verify(this.list)" (click)="login(email.value, mdp.value)" mat-raised-button color="primary" aria-label="Valider"><i class="fa-solid fa-check" ></i> Se connecter</button>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 text-center">
            <button class="link" mat-raised-button (click)="oublie = true">Mot de passe oublié?</button>
        </div>
        <div class="col-md-6 text-center">
            <button class="link" mat-raised-button (click)="inscript = true">Pas de compte?</button>
        </div>
    </div>
</div>

<div *ngIf="inscript">
    <div class="col-md-12 text-right">
        <button mat-button mat-dialog-close (click)="close()" style="background-color: rgb(221, 221, 221);"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <form>
        <div class="form-row">
            <div class="col-md-3 text-center align-middle">
                <label for="Email" class="form-label align-middle">Email :</label>
            </div>
            <div class="col-md-9 text-center">
                <input type="email" class="form-control" #email ngModel email title="Email"
                (change)="this.list['mail']=email.value" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3 text-center align-middle">
                <label for="mdp" class="form-label align-middle">Mot de passe :</label>
            </div>
            <div class="col-md-9 text-center">
                <input type="password" class="form-control" #mdp title="Mot de passe"
                (change)="this.list['pwd']=mdp.value" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3 text-center align-middle">
                <label for="mdp2" class="form-label align-middle">Confirmer mot de passe :</label>
            </div>
            <div class="col-md-9 text-center">
                <input type="password" class="form-control" #mdp2 title="Confirmer" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3 text-center align-middle">
                <label for="Pseudo" class="form-label align-middle">Pseudo :</label>
            </div>
            <div class="col-md-9 text-center">
                <input type="text" class="form-control" #pseudo title="Pseudo"
                (change)="this.list['pseudo']=pseudo.value" required>
            </div>
        </div>

        <div class="align-middle text-center redirect_button" style="margin-top: 20px;">
            <input type="submit" value="Créer compte" mat-raised-button color="primary" aria-label="Valider" (click)="register(email.value, mdp.value, mdp2.value)">
                <i class="fa-solid fa-check"></i>
        </div>
    </form>
</div>

<div *ngIf="oublie">
    <div class="col-md-12 text-right">
        <button mat-button mat-dialog-close (click)="close()" style="background-color: rgb(221, 221, 221);"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>

    <div class="form-row">
        <div class="col-md-3 text-center align-middle">
            <label for="Email" class="form-label align-middle">Email :</label>
        </div>
        <div class="col-md-9 text-center">
            <input type="text" class="form-control" #email title="Email"
            (change)="this.new_password['mail']=email.value">
        </div>
        <div class="col-md-3 text-center align-middle">
            <label for="Password" class="form-label align-middle">Nouveau mot de passe :</label>
        </div>
        <div class="col-md-9 text-center">
            <input type="password" class="form-control" #pwd title="Password"
            (change)="this.new_password['pwd']=pwd.value">
        </div>
    </div>

    <div class="align-middle text-center redirect_button" style="margin-top: 20px;">
        <button mat-raised-button color="primary" aria-label="Valider" (click)="this.onSend_update(this.new_password)">
            <i class="fa-solid fa-check"></i>
            Envoyer
        </button>
    </div>
</div>
