<div class="col-md-12 text-right">
    <button mat-button mat-dialog-close (click)="close()"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>

<div class="form-row">
    <div class="col-md-3 text-center align-middle">
        <label for="Email" class="form-label align-middle">Email :</label>
    </div>
    <div class="col-md-9 text-center">
        <input type="text" class="form-control" #email title="Email">
    </div>
</div>

<div class="form-row">
    <div class="col-md-3 text-center align-middle">
        <label for="mdp" class="form-label align-middle">Mot de passe :</label>
    </div>
    <div class="col-md-9 text-center">
        <input type="text" class="form-control" #mdp title="mdp">
    </div>
</div>

<div class="form-row">
    <div class="col-md-12 text-center">
        <button>Se connecter</button>
    </div>
</div>

<div class="form-row">
    <div class="col-md-6 text-center">
        <a>Mot de passe oublié?</a>
    </div>
    <div class="col-md-6 text-center">
        <a>Pas de compte?</a>
    </div>
</div>