.card {
  width: 50%;
  border-radius: 3%;
  padding: 10px;
  box-shadow: hsl(0deg 0% 0% / 40%) 10px 15px;
  color: white;
}

.image {
  border: solid grey 2px;
  width : 490px;
}

#input_recopier {
  text-align: center;
}

.title {
  font-size: 105px;
  font-weight: bold;
  letter-spacing: 6px;
  text-shadow: rgb(0, 0, 0, 0.7) 5px 8px;
}

.title :nth-child(1n) {
  color: #835ba7;
}
.title :nth-child(2n) {
  color: #3e4194;
}
.title :nth-child(3n) {
  color: #01afee;
}
.title :nth-child(4n) {
  color: #00a656;
}
.title :nth-child(5n) {
  color: #fff116;
}
.title :nth-child(6n) {
  color: #f68635;
}
.title :nth-child(7n) {
  color: #ec3238
}
.title :nth-child(8n) {
  color: #835ba7
}

.input {
  width: 55%;
}

.image {
  display: inline;
}

button {
  margin-left: 10px;
}

.title_image {
  font-size: 35px;
}

.title_image_error {
  font-size: 35px;
  text-transform: uppercase;
  color : red;
}


.progress {
  margin-top: 5px;
  background-color: #bebebe;
}
