.title {
    text-transform: uppercase;
    font-size: 105px;
    font-weight: bold;
    letter-spacing: 6px;
    text-shadow: rgb(0, 0, 0, 0.7) 5px 8px;
  }
  
  .title :nth-child(1n) {
    color: #835ba7;
  }
  
  .title :nth-child(2n) {
    color: #3e4194;
  }
  
  .title :nth-child(3n) {
    color: #01afee;
  }
  
  .title :nth-child(4n) {
    color: #00a656;
  }
  
  .title :nth-child(5n) {
    color: #fff116;
  }
  
  .title :nth-child(6n) {
    color: #f68635;
  }
  
  .title :nth-child(7n) {
    color: #ec3238;
  }
  
  .title :nth-child(8n) {
    color: #00a656;
  }
  
  .title :nth-child(9n) {
    color: #01afee;
  }
  
  .title :nth-child(10n) {
    color: #835ba7;
  }
  

#collage hr{
    border:none;
    border-top:2px solid #f5f2f2;
    height:1px;
}

#collage #playPanel {
    background-color:#c2defc;
    padding:10px 0px;
    margin: 10px auto;
    max-width:800px;
    width:95%;
}

#collage #actualImageBox {
    display: inline-block;
    font-size:0.8em;
    margin: 10px 10px;
    vertical-align: top;
    width:280px;
}

#collage #stepBox, #collage #timeBox {
    display:inline-block;
    width:48%;
}

#collage #stepBox div {
    background-color:#c2defc;
    display:inline-block;
    padding:1px 4px;
    margin: 0px auto;
    max-width:800px;
}

#collage img#actualImage{
    display: inline-block;
    border:2px solid #a46;
    height:280px;
    width:280px;
}

#collage #sortable {
    border:2px solid #a46;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 404px;
}

    #collage #sortable li  {
        background-size: 400% 400%;
        border: none;
        cursor: progress;
        margin: 0;
        padding: 0;
        float: left;
        width: 25px;
        height: 100px;
    }

#collage button  {
    background-color:blue;
    border:1px solid #cce;
    display: inline;
    font-size: 14px;
    height: auto;
    width: auto;
    padding: 3px 8px;
}

body {
    font-family: 'Segoe UI', Calibri, Arial;
    margin:0;
}
h2{
    font-weight:normal;
    text-align:center;
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
}