<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Image Puzzle</title>
   
</head>

<body>
    <div id="collage">
        <h2>Image Puzzle</h2>
        <hr />
        <div id="playPanel" style="padding:5px;">
            <h3 id="imgTitle"></h3>
            <hr />
            <div style="display:inline-block; margin:auto; width:95%; vertical-align:top;">
                <ul id="sortable" class="sortable"></ul>
                <div id="actualImageBox">
                    <div id="stepBox">
                        <div>Steps:</div>
                        <div id="stepCount" class="stepCount">0</div>
                    </div>
                    <div id="timeBox">
                        Time Taken: <span id="timerPanel"></span> secs
                    </div>
                    <img id="actualImage" />
                    <div>Re-arrange to create a picture like this.</div>
                    <p id="levelPanel">
                        <input type="radio" name="level" id="easy" checked="checked" value="3" onchange="imagePuzzle.startGame(images, this.value);"
                        /> <label for="easy">Easy</label>
                        <input type="radio" name="level" id="medium" value="4" onchange="imagePuzzle.startGame(images, this.value);" />                      <label for="medium">Medium</label>
                        <input type="radio" name="level" id="hard" value="5" onchange="imagePuzzle.startGame(images, this.value);" />                        <label for="hard">Hard</label>
                        <!--mettre une variable dans value pour modifier la difficulter-->
                    </p>
                    <div>
                        <button id="btnRule" type="button" class="btn" onclick="rules();">Rules</button>
                        <button id="newPhoto" type="button" class="btn" onclick="restart();">Another Photo</button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="gameOver" style="display:none;">
            <div style="background-color: #fc9e9e; padding: 5px 10px 20px 10px; text-align: center; ">
                <h2 style="text-align:center">Game Over!!</h2>
                Congratulations!! <br /> You have completed this picture.
                <br /> Steps: <span id="stepCount" class="stepCount">0</span> steps.
                <br /> Time Taken: <span class="timeCount">0</span> seconds<br />
                <div>
                    <button type="button" onclick="window.location.reload(true);">Play Again</button>
                </div>
            </div>
        </div>

        
    </div>
   
</body>
</html>
<!--
<html>
    
    <body>
        <img src="../../assets/chat.jpg" id="myImg" style="width: 250px;">
    <style>
    .i1 { background: url(../../assets/chat.jpg) no-repeat right top; }
    .i2 { background: url(../../assets/chat.jpg) no-repeat right bottom ; }
    .i3 { background: url(../../assets/chat.jpg) no-repeat right center; }
    .i4 { background: url(../../assets/chat.jpg) no-repeat left center; }
    .i5 { background: url(../../assets/chat.jpg) no-repeat left top; }
    .i6 { background: url(../../assets/chat.jpg) no-repeat left bottom; }
    .i7 { background: url(../../assets/chat.jpg) no-repeat center bottom; }
    .i8 { background: url(../../assets/chat.jpg) no-repeat center center; }
    .i9 { background: url(../../assets/chat.jpg) no-repeat center top; }
    .divimg { width: 50px; height: 50px; }
    
    </style>
    <table width="150" border="0" cellspacing="0" cellpadding="0" height="150">
     <tr>
      <td class="i1"cdkDrag ></td>
      <td class="i2"cdkDrag></td>
      <td class="i3"cdkDrag></td>
     </tr>
     <tr>
      <td class="i4"cdkDrag></td>
      <td class="i5"cdkDrag></td>
      <td class="i6"cdkDrag></td>
     </tr>
     <tr>
      <td class="i7"cdkDrag></td>
      <td class="i8"cdkDrag></td>
      <td class="i9"cdkDrag></td>
     </tr>
    </table>
    
    <div class="divimg i1" cdkDrag>texte</div>
    
    </body>
    </html>

<div class="puzzle piece1" cdkDrag></div>
<div class="puzzle piece2" cdkDrag></div>
<div class="puzzle piece3" cdkDrag></div>
<div class="puzzle piece4" cdkDrag></div>
<div class="puzzle piece5" cdkDrag></div>
<div class="puzzle piece6" cdkDrag></div>
<div class="puzzle piece7" cdkDrag></div>
<div class="puzzle piece8" cdkDrag></div>
<div class="puzzle piece9" cdkDrag></div>
<div class="puzzle piece10"cdkDrag></div>

<canvas></canvas>
<script>
    var image = new Image();
    image.onload = cutImageUp();
    image.src = '../../assets/lion.jpg';

    function cutImageUp(){
        var imagePieces = [];
        for(var x = 0;x < numColsToCut;++x){
            for(var y = 0;y < numRowsToCut; ++y){
                var canvas = document.createElement('canvas');
                canvas.width = widthOfOnePiece;
                canvas.height = heightOfOnePiece;
                var context = canvas.getContext('2d');
                context.drawImage(image,x*widthOfOnePiece,y*heightOfOnePiece, widthOfOnePiece, heightOfOnePiece,0,0 canvas.width,canvas.height);
                imagePieces.push(canvas.toDataURL());
            }
        }
        var anImageElement = document.getElementById('myImageElementInTheDom');
        anImageElement.src = imagePieces[0];
    }
    document.getElementById("vangogh").onclick=function(){
        var ctx = document.getElementById('canvas').getContext('2d');
        ctx.drawImage(document.getElementById('source'),33,45);
    }
    }
</script> 
<div id="columns">
    <div class="column" draggable="true"><header>A</header></div>
    <div class="column" draggable="true"><header>B</header></div>
    <div class="column" draggable="true"><header>C</header></div>

-->