<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Image Puzzle</title>
   
</head>

<body>
    <canvas id="canvas" width="512" height="512" 
    style=" 
    width: fit-content;"cdkDrag>
    </canvas>
    
    
    <div id="collage">
        <h2>Image Puzzle</h2>
        <hr />
        <div id="playPanel" style="padding:5px ;"[ngStyle]="{background : this.r!.bg_color}">
            <h3 id="imgTitle"></h3>
            <hr />
            <div style="display:inline-block; margin:auto; width:95%; vertical-align:top;"[ngStyle]="{background : this.r!.bg_color}">
                <ul id="sortable" class="sortable"[ngStyle]="{background : this.r!.bg_color}"></ul>
                <div id="actualImageBox">
                    <div id="stepBox">
                        <div [ngStyle]="{background : this.r!.text_color}">Steps:</div>
                        <div id="stepCount" class="stepCount"[ngStyle]="{background : this.r!.text_color}">0</div>
                    </div>
                    <div id="timeBox">
                        Time Taken: <span id="timerPanel"></span> secs
                    </div>
                    <img id="actualImage" />
                    <div [ngStyle]="{background : this.r!.text_color}">Réorganiser pour créer une image comme celle-ci.</div>
                    <p id="levelPanel">
                        <input type="radio" name="level" id="easy" checked="checked" value="3" onchange="imagePuzzle.startGame(images, this.value);"
                        [ngStyle]="{background : this.r!.bg_color}"/> <label for="easy" [ngStyle]="{background : this.r!.text_color}">Easy</label>
                        <input type="radio" name="level" id="medium" value="4" onchange="imagePuzzle.startGame(images, this.value);" />                      <label for="medium">Medium</label>
                        <input type="radio" name="level" id="hard" value="5" onchange="imagePuzzle.startGame(images, this.value);" />                        <label for="hard">Hard</label>
                        <!--mettre une variable dans value pour modifier la difficulter-->
                    </p>
                    <div>
                        <button id="btnRule" type="button" class="btn" onclick="rules();">Rules</button>
                        <button id="newPhoto" type="button" class="btn" onclick="restart();">Another Photo</button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="gameOver" style="display:none;">
            <div style="background-color: #fc9e9e; padding: 5px 10px 20px 10px; text-align: center; ">
                <h2 style="text-align:center">Fin de partie!!</h2>
                Félicitation!!<br /> Tu as compléter l'image.
                <br /> Steps: <span id="stepCount" class="stepCount">0</span> steps.
                <br /> Time Taken: <span class="timeCount">0</span> seconds<br />
                <div>
                    <button type="button" onclick="window.location.reload(true);">Joue encore</button>
                </div>
            </div>
        </div>
        
        
    </div>
      
</body>
</html>
