<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Image Puzzle</title>
   
</head>

<body>
    
    
    <div id="collage"  class="text-center">
        <h1 class="title" >
            <span>I</span>
            <span>M</span>
            <span>A</span>
            <span>G</span>
            <span>E</span>
            <span> </span>
            <span>P</span>
            <span>U</span>
            <span>Z</span>
            <span>Z</span>
            <span>L</span>
            <span>E</span>
          </h1>
        <hr />
        <div id="playPanel" style="padding:5px; "[ngStyle]="{background : this.r!.bg_color}">
            <h3 id="imgTitle"></h3>
            <hr />
            <div style="display:inline-block; margin:auto; width:95%; vertical-align:top;"[ngStyle]="{background : this.r!.bg_color}">
                <ul id="sortable" class="sortable"[ngStyle]="{background : this.r!.bg_color}"></ul>
                <div id="actualImageBox">
                    <div id="stepBox">
                        <div [ngStyle]="{background : this.r!.text_color}">Steps:</div>
                        <div id="stepCount" class="stepCount"[ngStyle]="{background : this.r!.text_color}">0</div>
                    </div>
                    <div id="timeBox">
                        Time Taken: <span id="timerPanel"></span> secs
                    </div>
                    <img id="actualImage" />
                    <div [ngStyle]="{background : this.r!.text_color}">Réorganiser pour créer une image comme celle-ci.</div>
                    <p id="levelPanel">
                        <input type="radio" name="level" id="easy" checked="checked" value="3" onchange="imagePuzzle.startGame(images, this.value);"
                        [ngStyle]="{background : this.r!.bg_color}"/> <label for="easy" [ngStyle]="{background : this.r!.button_text_color}">Easy</label>
                        <input type="radio" name="level" id="medium" value="4" onchange="imagePuzzle.startGame(images, this.value);" 
                        [ngStyle]="{background : this.r!.button_bg_color}"/>                      <label for="medium" [ngStyle]="{background : this.r!.button_text_color}">Medium</label>
                        <input type="radio" name="level" id="hard" value="5" onchange="imagePuzzle.startGame(images, this.value);" 
                        [ngStyle]="{background : this.r!.button_bg_color}"/>                        <label for="hard"[ngStyle]="{background : this.r!.button_text_color}">Hard</label>
                        <!-- mettre une variable dans value pour modifier la difficulter-->
                    </p>
                    <div>
                        <button id="btnRule" type="button" class="btn" onclick="rules();"[ngStyle]="{background : this.r!.button_bg_color}">Rules</button>
                        <button id="newPhoto" type="button" class="btn" onclick="restart();"[ngStyle]="{background : this.r!.button_bg_color}">Another Photo</button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="gameOver" style="display:none;"[ngStyle]="{background : this.r!.bg_color}">
            <div style=" padding: 5px 10px 20px 10px; text-align: center; "[ngStyle]="{background : this.r!.bg_color}">
                <h2 style="text-align:center"[ngStyle]="{background : this.r!.text_color}">Fin de partie!!</h2>
                Félicitation!!<br /> Tu as compléter l'image.
                <br /> Steps: <span id="stepCount" class="stepCount">0</span> steps.
                <br /> Time Taken: <span class="timeCount">0</span> seconds<br />
                <div>
                    <button type="button" onclick="window.location.reload(true);">Joue encore</button>
                </div>
            </div>
        </div>
        
        
    </div>
    
    
</body>
</html>
<!--<html>
<body>
<style>
</style>


<div class="card align-middle container"  id="container"style="width: 32rem;"  
>
<table class="card-table table" id="table2" width="{{ this.img.width }}" border="0" cellspacing="0" cellpadding="0"
cdkDropList
#doneList="cdkDropList"
[cdkDropListData]="donnee_vide"
[cdkDropListConnectedTo]="[todoList]"

(cdkDropListDropped)="drop($event)"
>
    <tr id="1" >
        <td id="i1"style="background: url('{{ this.img.src }}') no-repeat {{ donnee_non_alea[0].a }} {{ donnee_non_alea[0].b }};opacity: 0.3"></td>
        <td id="i2"style="background: url('{{ this.img.src }}') no-repeat {{ donnee_non_alea[1].a }} {{ donnee_non_alea[1].b }};opacity: 0.3" ></td>
        <td id="i3"style="background: url('{{ this.img.src }}') no-repeat {{ donnee_non_alea[2].a }} {{ donnee_non_alea[2].b }};opacity: 0.3" ></td>
        
      </tr>
       <tr id="2">
        <td id="i4"style="background: url('{{ this.img.src }}') no-repeat {{ donnee_non_alea[3].a }} {{ donnee_non_alea[3].b }};opacity: 0.3" ></td>
        <td id="i5"style="background: url('{{ this.img.src }}') no-repeat {{ donnee_non_alea[4].a }} {{ donnee_non_alea[4].b }};opacity: 0.3" ></td>
        <td id="i6"style="background: url('{{ this.img.src }}') no-repeat {{ donnee_non_alea[5].a }} {{ donnee_non_alea[5].b }};opacity: 0.3" ></td>
       </tr>
       <tr id="3">
        <td id="i7"style="background: url('{{ this.img.src }}') no-repeat {{ donnee_non_alea[6].a }} {{ donnee_non_alea[6].b }};opacity: 0.3" ></td>
        <td id="i8"style="background: url('{{ this.img.src }}') no-repeat {{ donnee_non_alea[7].a }} {{ donnee_non_alea[7].b }};opacity: 0.3" ></td>
        <td id="i9"style="background: url('{{ this.img.src }}') no-repeat {{ donnee_non_alea[8].a }} {{ donnee_non_alea[8].b }};opacity: 0.3" ></td>
       
      </tr>
</table>


</div>
<table id="table" width="{{ this.img.width }}" border="0" cellspacing="0" cellpadding="0" style="margin-left: 50%;" 
cdkDropList
#todoList="cdkDropList"
[cdkDropListData]="donnee"
[cdkDropListConnectedTo]="[doneList]"

(cdkDropListDropped)="drop($event)">

 <tr id="1" >
  <td id="i1"style="background: url('{{ this.img.src }}') no-repeat {{ donnee[0].a }} {{ donnee[0].b }} ;" cdkDrag ></td>
  <td id="i2"style="background: url('{{ this.img.src }}') no-repeat {{ donnee[1].a }} {{ donnee[1].b }};" cdkDrag></td>
  <td id="i3"style="background: url('{{ this.img.src }}') no-repeat {{ donnee[2].a }} {{ donnee[2].b }};" cdkDrag></td>
  
</tr>
 <tr id="2">
  <td id="i4"style="background: url('{{ this.img.src }}') no-repeat {{ donnee[3].a }} {{ donnee[3].b }};" cdkDrag></td>
  <td id="i5"style="background: url('{{ this.img.src }}') no-repeat {{ donnee[4].a }} {{ donnee[4].b }};" cdkDrag></td>
  <td id="i6"style="background: url('{{ this.img.src }}') no-repeat {{ donnee[5].a }} {{ donnee[5].b }};" cdkDrag></td>
 </tr>
 <tr id="3">
  <td id="i7"style="background: url('{{ this.img.src }}') no-repeat {{ donnee[6].a }} {{ donnee[6].b }};" cdkDrag></td>
  <td id="i8"style="background: url('{{ this.img.src }}') no-repeat {{ donnee[7].a }} {{ donnee[7].b }};" cdkDrag></td>
  <td id="i9"style="background: url('{{ this.img.src }}') no-repeat {{ donnee[8].a }} {{ donnee[8].b }};" cdkDrag></td>
 
</tr>
 
</table>





</body>
</html>-->