.title {
    text-transform: uppercase;
    font-size: 105px;
    font-weight: bold;
    letter-spacing: 6px;
    text-shadow: rgb(0, 0, 0, 0.7) 5px 8px;
  }
  
  .title :nth-child(1n) {
    color: #835ba7;
  }
  .title :nth-child(2n) {
    color: #01afee;
  }
  .title :nth-child(3n) {
    color: #00a656;
  }
  .title :nth-child(4n) {
    color: #f68635;
  }
  .title :nth-child(5n) {
    color: #ec3238;
  }
  .title :nth-child(6n) {
    color: #835ba7;
  }

.plateau {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: block;
}

.container {
    border-radius: 3%;
    padding: 10px;
    box-shadow: hsl(0deg 0% 0% / 40%) 10px 15px;
    color: white;
    margin-bottom: 25px;
    max-height: 75%;
    max-width: 75%;
    width: fit-content;
}

td {
    max-width: fit-content;
}

.text {
    text-align: center;
    font-size: 50px;
}