.title {
    text-transform: uppercase;
    font-size: 105px;
    font-weight: bold;
    letter-spacing: 6px;
    text-shadow: rgb(0, 0, 0, 0.7) 5px 8px;
  }
  
  .title :nth-child(1n) {
    color: #835ba7;
  }
  .title :nth-child(2n) {
    color: #01afee;
  }
  .title :nth-child(3n) {
    color: #00a656;
  }
  .title :nth-child(4n) {
    color: #f68635;
  }
  .title :nth-child(5n) {
    color: #ec3238;
  }
  .title :nth-child(6n) {
    color: #835ba7;
  }

.plateau {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: block;
}

.boite {
    border-radius: 3%;
    padding: 10px;
    box-shadow: hsl(0deg 0% 0% / 40%) 10px 15px;
    color: white;
    margin-bottom: 25px;
    max-width: 75%;
    width: fit-content;
    font-size: 0.75vw;
}

td {
  width: 17vw;
  padding-top: 17%;
  position: relative;
  vertical-align: middle;
  display: table-cell;
}

.tile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.text {
  text-align: center;
  font-size: 50px;
}

.start {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 15%;
}

.start:hover {
  background-color: rgba(255, 255, 255, 0.445);
}