.image {
    height: 100%;
    width: 100%;
    max-width: 195px;;
    padding: 10px;
}

.mot {
    font-size: 1vw;
    text-align: center;
    padding-top: 5%;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.cursif {
    font-size: 1.5vw;
    text-align: center;
    padding-top: 5%;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}