<div *ngIf="this.showTitle" class="text-center">
  <h1 class="title">
    <span>R</span>
    <span>E</span>
    <span>C</span>
    <span>O</span>
    <span>N</span>
    <span>A</span>
    <span>I</span>
    <span>T</span>
    <span>R</span>
    <span>E</span>
  </h1>
</div>


<div *ngIf="this.play">
  <!-- Si le jeu est null -->
  <div *ngIf="this.r == null" class="card_play align-middle container text-center" id="card_error"
    style="width: 32rem; background-color: #3bb8c9; color : black">
    <img class="card-img-top image" src="../../assets/images/error.png" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title title_image_error">Erreur !</h5>
      <p class="card-text">Il n'y a pas de jeu selectionné !</p>
    </div>
  </div>

  <!-- Si le jeu n'est pas null -->
  <div *ngIf="this.r != null">

    <!-- Si la liste d'image n'est pas vide -->
    <div *ngIf="this.r!.images.length != 0">

      <!-- Si ce n'est pas la derniere image -->
      <div *ngIf="this.prochaine_image != this.r!.images.length" class="card_play align-middle container" id="container"
        style="width: 32rem;" [ngStyle]="{background : this.r!.bg_color}">

        <div class="row">

          <div style="margin-bottom: 20px;">
            <button mat-raised-button style="background-color: orange" *ngIf="this.r.typeEcriture == 'SCRIPT'" (click)="this.r.typeEcriture = 'CAPITAL'">SCRIPT</button>
            <button mat-raised-button style="background-color: orange" *ngIf="this.r.typeEcriture == 'CAPITAL'" (click)="this.r.typeEcriture = 'CURSIF'">CAPITAL</button>
            <button mat-raised-button style="background-color: orange" *ngIf="this.r.typeEcriture == 'CURSIF'" (click)="this.r.typeEcriture = 'SCRIPT'">CURSIF</button>
          </div>

          <div class="col-md-8 text-center">
            <div class="col d-flex justify-content-center">
              <!-- <p id="error" >Nombre d'erreur = {{ compteur }}</p> -->
              <mat-card id="error" [ngStyle]="{color : this.r!.text_color}" style="width : 50%" class="text-center">
                Nombre
                d'erreur = {{compteur}}</mat-card>
              <!-- Affiche le nombre d'erreur -->
            </div>



          </div>

          <div class="col-md-2" *ngIf="+this.r!.isVocaliser == 1">
            <button mat-fab-button
              style="background-color: rgb(255, 255, 255); margin-bottom: 20px; width: 20%; height: 5%;"
              (click)="vocalise()">
              <i class="fa-solid fa-volume-high" style="color: black"></i>
            </button>
          </div>

        </div>


        <div class="row">

          <div class="col d-flex justify-content-center">
            <img style="width:400px;" src="{{ this.r!.images[this.prochaine_image].src }}" class="card-img-top image ">
          </div>
        </div>

        <div class="row">
          <div class="col d-flex justify-content-center">
            <p id="result" class="text-center"></p>
          </div>
        </div>

        <div class="row">

          <div id="mot" class="text-center col">
            <!-- Centre les mots -->
            <!-- <button *ngFor="let mot of this.r!.liste_button" type="button" id="{{ mot }}" [disabled]="clicked"
          (click)="change($event,mot)    ;"
          [ngStyle]="{background : this.r!.button_bg_color, color : this.r!.button_text_color}">{{ mot }}</button> -->

            <div *ngIf="this.r!.typeEcriture == 'CURSIF'">
              <button [ngStyle]="{background : this.r!.button_bg_color, color : this.r!.button_text_color}"
                *ngFor="let mot of this.r!.liste_button" style="font-family : cursiveFont; font-size : 28px"
                id="{{mot}}" (click)="change($event,mot)" mat-fab color="primary"
                aria-label="Example icon button with a delete icon">
                {{mot}}
              </button>
            </div>

            <div *ngIf="this.r!.typeEcriture == 'CAPITAL'">
              <button [ngStyle]="{background : this.r!.button_bg_color, color : this.r!.button_text_color}"
                *ngFor="let mot of this.r!.liste_button" style="text-transform : uppercase" id="{{mot}}"
                (click)="change($event,mot)" mat-fab color="primary"
                aria-label="Example icon button with a delete icon">
                {{mot}}
              </button>
            </div>


            <div *ngIf="this.r!.typeEcriture == 'SCRIPT'">
              <button [ngStyle]="{background : this.r!.button_bg_color, color : this.r!.button_text_color}"
                *ngFor="let mot of this.r!.liste_button" id="{{mot}}" (click)="change($event,mot)" mat-fab
                color="primary" aria-label="Example icon button with a delete icon">
                {{mot}}
              </button>
            </div>

            <!-- Crées des bouttons pour les mots en fonction du nombre d'image choissit et du nombre d'image total -->
          </div>


        </div>

        <div class="align-bottom">
          <div class="progress" *ngIf="this.r!.color_progress_bar == 'blue' ">
            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
              aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
          </div>

          <div class="progress" *ngIf="this.r!.color_progress_bar == 'green' ">
            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"
              role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
          </div>

          <div class="progress" *ngIf="this.r!.color_progress_bar == 'lightblue' ">
            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-info"
              role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
          </div>

          <div class="progress" *ngIf="this.r!.color_progress_bar == 'orange' ">
            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
              role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
          </div>

          <div class="progress" *ngIf="this.r!.color_progress_bar == 'red' ">
            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
              role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100'></div>
          </div>
        </div>

      </div>


      <!-- Carte félicitation -->
      <div *ngIf="isFinish()" class="card_play align-middle container text-center"
        id="card_finish" style="width: 32rem;" [ngStyle]="{background : this.r!.bg_color}">
        <img class="card-img-top image_play" src="../../assets/images/congratulations.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title title_image" [ngStyle]="{color : this.r!.title_color}">Félicitation !</h5>
          <p class="card-text" [ngStyle]="{color : this.r!.text_color}">Vous avez reconnue correctement touts les mots
            !
          </p>
        </div>


      </div>
      <div *ngIf="this.prochaine_image == this.r!.images.length" class="text-center">
        <figure class="figure" *ngFor="let items of this.erreur_image">
          <img src="{{ items.src }}" width="200" height="200">
          <figcaption *ngIf="items.erreur == 0" style="color: green;"> {{ items.erreur }}</figcaption>
          <figcaption *ngIf="items.erreur > 0" style="color: red;"> {{ items.erreur }}</figcaption>

        </figure>
      </div>
    </div>


  </div>

  <!-- Si la liste d'image est vide -->
  <div *ngIf="this.r!.images.length == 0" class="card_play align-middle container" id="card_finish"
    style="width: 32rem;" [ngStyle]="{background : this.r!.bg_color}">
    <img class="card-img-top image" src="../../assets/images/error.png" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title title_image_error">Erreur !</h5>
      <p class="card-text" style="color : black">Il n'y a pas d'image selectionné</p>
    </div>
  </div>


</div>

<div class="card container container_list" *ngIf="this.showList">
  <h5 class="card-header">Reconnaitre</h5>


  <div *ngIf="!this.reconnaitre_previsualiser" class="create_button align-middle text-center"
    style="margin-bottom : 10px; margin-top : 10px">

    <button class=" align-middle text-center" [routerLink]="['/panel/Reconnaitre/create']" mat-raised-button
      color="warn">
      <i class="fa-solid fa-circle-plus fa-lg" style="margin-bottom : 2%"></i>

      Créer un Reconnaitre
    </button>

    <mat-divider style="background : grey; margin : 2%"></mat-divider>

  </div>

  <div *ngIf="this.data.length != 0">
    <!-- Prévisualisation -->
    <div *ngIf="this.reconnaitre_previsualiser">




      <div class="prev-button align-middle text-center" style="margin-bottom : 10px ; margin-top : 20px">
        <div class="prev-button align-middle text-center" style="margin-bottom : 10px">
          <button class="prev-button align-middle text-center" (click)="quitPreviewReconnaitre()" mat-raised-button
            color="warn">
            <i class="fa-solid fa-eye-slash fa-lg" style="margin-bottom : 4px"></i>
            Quitter la prévisualisation</button>
        </div>
      </div>
      <app-reconnaitre [r]="this.r" [play]="true" [showTitle]="false" [showList]="false"></app-reconnaitre>
    </div>


    <!-- Listes des jeux -->
    <div *ngIf="!this.reconnaitre_previsualiser">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col"
              *ngFor="let col of ['ID','Date','Nombre d\'image','Type d\'écriture','Vocalisation','Crée par','Actions']">
              {{col}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let element of this.data">
            <th>{{element.id}}</th> <!-- Id du jeu -->
            <th>{{element.date}}</th> <!-- Date de création du jeu -->
            <th>{{element.images.length}}</th> <!-- Nombre d'image qui compose le jeu -->
            <th>{{element.typeEcriture}}</th> <!-- Type d'écriture du jeu -->
            <th *ngIf="+element.isVocaliser == 1">Oui</th>
            <th *ngIf="+element.isVocaliser == 0">Non</th>
            <th *ngIf="this.login ">{{this.login}}</th> <!-- Nom de l'utilisateur qui à créer le jeu -->
            <th *ngIf="!this.login">Aucun</th> <!-- Nom de l'utilisateur qui à créer le jeu -->
            <!-- Actions -->
            <th class="button_actions">
              <!-- Prévisualiser le jeu -->
              <button mat-raised-button title="Prévisualiser le jeu" color="primary"
                (click)="previewReconnaitre(element)">
                <i class="fa-solid fa-eye fa-lg fa-lg" style="margin-bottom : 2px"></i>
              </button>

              <!-- Editer le jeu -->
              <button mat-raised-button title="Editer le jeu" style="background-color : rgb(223, 175, 18)"
                color="primary" (click)="redirectEditReconnaitre(element)">
                <i class="fa-solid fa-pen fa-lg" style=" margin-bottom : 2px"></i>
              </button>

              <!-- Supprimer le jeu -->
              <button mat-raised-button title="Supprimer le jeu" style="background-color : red" color="primary"
                (click)="deleteGameReconnaitre(element)">
                <i class="fa-solid fa-trash fa-lg" style=" margin-bottom : 2px "></i>
              </button>

              <!-- Démarrer une session à partir de ce jeu -->
              <button title="Démarrer une session à partir de ce jeu" mat-raised-button
                style="background-color : rgb(168, 14, 135)" color="primary">
                <i class="fa-solid fa-play fa-lg" style=" margin-bottom : 2px "></i>
              </button>


            </th>

          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Si la liste des jeu Reconnaitre est vide -->
  <div class="text-center" *ngIf="this.data.length == 0">
    <h5 class="card-title" style="color : red">Il n'y a pas de jeu Reconnaitre créer</h5>
  </div>
</div>

<div class="card container container_list" *ngIf="this.create_game">
  <h5 *ngIf="!this.edit" class="card-header">Créer un Reconnaitre</h5>
  <h5 *ngIf="this.edit" class="card-header">éditer un Reconnaitre</h5>

  <!-- Formulaire Reconnaitre - Bouton de prévisualisation -->
  <div *ngIf="!this.reconnaitre_previsualiser">


    <div class="prev-button align-middle text-center" style="margin-bottom : 10px; margin-top : 10px">

      <button *ngIf="this.edit" class="prev-button align-middle text-center" [routerLink]="['/panel/Recopier']"
        mat-raised-button color="warn" style="float : left; position : absolute; display : block">
        <i class="fa-solid fa-angles-left" style="margin-bottom : 1px"></i>

        Retour à la liste des jeux
      </button>

      <button class="prev-button align-middle text-center" (click)="setPrevisualiserReconnaitre(true)" mat-raised-button
        color="warn">
        <i class="fa-solid fa-eye fa-lg" style="margin-bottom : 3px"></i>

        Prévisualiser</button>
    </div>

    <!-- Formulaire Reconnaitre - Menu de navigation -->
    <div class="stepMenu">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item">
            <button title="Images" style="background : white; color : black" mat-fab color="primary" aria-label="Images"
              (click)="setFormStep(0)">
              <i class="fa-solid fa-images"></i>
            </button>
          </li>
          <li class="breadcrumb-item">
            <button title="Couleurs" mat-fab color="primary" aria-label="Couleurs" (click)="setFormStep(1)">
              <i class="fa-solid fa-brush"></i>
            </button>
          </li>
          <li class="breadcrumb-item">
            <button title="Texte" mat-fab color="primary" aria-label="Texte" (click)="setFormStep(2)">
              <i class="fa-solid fa-font"></i>
            </button>
          </li>
        </ol>
      </nav>
    </div>


    <!-- Formulaire Reconnaitre - Etape 1 : choix des images -->
    <!-- Etape 1 : Choix des images -->
    <div *ngIf="this.formStep == 0">
      <h2 class="card-title text-center">Choisissez les images</h2>
      <div class="card-body selectImage_container text-center align-top">
        <h5 class="card-header" style="color : black">Listes des images</h5>
        <figure class="figure" *ngFor="let image of this.liste_image">
          <img src="{{image.getSrc()}}" class="figure-img img-fluid rounded" alt="..." (click)="addImage(image)  ">

          <figcaption class="figure-caption">{{image.getNom()}}</figcaption>
        </figure>
      </div>

      <div class="card-body selectImage_container text-center">
        <h5 class="card-header" style="color : black">Images selectionné</h5>
        <h6 *ngIf="this.selectedImages.length == 0" class="card-title" style="color : black">Vous n'avez
          selectionné
          aucune image</h6>
        <figure class="figure" *ngFor="let image of this.selectedImages">
          <img src="{{image.getSrc()}}" class="figure-img img-fluid rounded" alt="..." (click)="deleteImage(image)">
          <figcaption class="figure-caption">{{image.getNom()}}</figcaption>
        </figure>
      </div>
    </div>


    <!-- Etape du formulaire 2 -- Choix des couleurs -->
    <div *ngIf="this.formStep == 1">
      <h2 class="card-title">Choississez les couleurs du jeu</h2>

      <form>

        <div class="form-row">
          <div class="col-md-6">
            <label for="reconnaitre_bg_color_input" class="form-label align-middle">Couleur d'arriére plan
              <input type="color" class="form-control form-control-color"
                (change)="this.reconnaitre_bg_color = reconnaitre_bg_color_input.value  " #reconnaitre_bg_color_input
                value="{{this.reconnaitre_bg_color}}" title="Choisissez la couleur d'arriére-plan"
                (change)="this.list['bg_color']=reconnaitre_bg_color_input.value">
            </label>
          </div>
          <div class="col-md-6">
            <label for="reconnaitre_text_color_input" class="form-label align-middle">Couleur du texte
              <input type="color" class="form-control form-control-color"
                (change)="this.reconnaitre_text_color = reconnaitre_text_color_input.value "
                (change)="this.list['text_color']=reconnaitre_text_color_input.value" #reconnaitre_text_color_input
                value="{{this.reconnaitre_text_color}}" title="Choisissez la couleur du texte">
            </label>
          </div>

        </div>

        <div class="form-row">

          <div class="col-md-6">
            <label for="reconnaitre_title_color_input" class="form-label align-middle">Couleur du titre
              <input type="color" class="form-control form-control-color"
                (change)="this.reconnaitre_title_color = reconnaitre_title_color_input.value "
                (change)="this.list['title_color']=reconnaitre_title_color_input.value" #reconnaitre_title_color_input
                value="{{this.reconnaitre_title_color}}" title="Choisissez la couleur du titre">
            </label>
          </div>
          <div class="col-md-6">
            <label for="reconnaitre_good_answer_color_input" class="form-label align-middle">Couleur du message
              bonne
              réponse
              <input type="color" class="form-control form-control-color"
                (change)="this.reconnaitre_good_answer_color = reconnaitre_good_answer_color_input.value "
                (change)="this.list['gaw_color']=reconnaitre_good_answer_color_input.value"
                #reconnaitre_good_answer_color_input value="{{this.reconnaitre_good_answer_color}}"
                title="Choisissez la couleur du message de bonne réponse">
            </label>
          </div>

        </div>

        <div class="form-row">

          <div class="col-md-6">
            <label for="reconnaitre_wrong_answer_color_input" class="form-label align-middle">Couleur du message
              mauvaise
              réponse
              <input type="color" class="form-control form-control-color"
                (change)="this.reconnaitre_wrong_answer_color = reconnaitre_wrong_answer_color_input.value "
                (change)="this.list['waw_color']=reconnaitre_wrong_answer_color_input.value"
                #reconnaitre_wrong_answer_color_input value="{{this.reconnaitre_wrong_answer_color}}"
                title="Choisissez la couleur du message de mauvaise réponse">
            </label>
          </div>

          <div class="col-md-6">
            <label for="reconnaitre_button_bg_color_input" class="form-label align-middle">Couleur d'arriére
              plan
              du
              bouton
              <input type="color" class="form-control form-control-color"
                (change)="this.reconnaitre_button_bg_color = reconnaitre_button_bg_color_input.value "
                (change)="this.list['button_bg_color']=reconnaitre_button_bg_color_input.value"
                #reconnaitre_button_bg_color_input value="{{this.reconnaitre_button_bg_color}}"
                title="Choisissez la couleur d'arriére-plan du bouton">
            </label>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <label for="reconnaitre_button_text_color_input" class="form-label align-middle">Couleur du texte du
              bouton
              <input type="color" class="form-control form-control-color"
                (change)="this.reconnaitre_button_text_color = reconnaitre_button_text_color_input.value "
                (change)="this.list['button_text_color']=reconnaitre_button_text_color_input.value"
                #reconnaitre_button_text_color_input value="{{this.reconnaitre_button_text_color}}"
                title="Choisissez la couleur du texte du bouton">
            </label>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4">
            <label for="progressValue" class="form-label align-middle">Couleur de la barre de
              progression</label>

          </div>
          <div class="col-md-8">
            <select class="form-control" aria-label="Default select example" #progressSelectValue
              (change)="changeProgressValue('Reconnaitre',progressSelectValue)">
              <option class="text-center" *ngFor="let p of this.progressValue" value="{{p}}"
                [selected]="p === this.reconnaitre_progress" ng-selected="p == this.reconnaitre_progress"
                #progressValue>
                <p *ngIf="p == 'blue'">Bleu</p>
                <p *ngIf="p == 'green'">Vert</p>
                <p *ngIf="p == 'lightblue'">Bleu ciel</p>
                <p *ngIf="p == 'orange'">Orange</p>
                <p *ngIf="p == 'red'">Rouge</p>
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="progress" *ngIf="this.reconnaitre_progress == 'blue' " (change)="this.list['progress']='blue' ">

              <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
              </div>
            </div>

            <div class="progress" *ngIf="this.reconnaitre_progress == 'green' "
              (change)="this.list['progress']='green' ">

              <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
              </div>
            </div>

            <div class="progress" *ngIf="this.reconnaitre_progress == 'lightblue' "
              (change)="this.list['progress']='lightblue' ">

              <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
              </div>
            </div>

            <div class="progress" *ngIf="this.reconnaitre_progress == 'orange' "
              (change)="this.list['progress']='orange' ">
              <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
              </div>
            </div>

            <div class="progress" *ngIf="this.reconnaitre_progress == 'red' " (change)="this.list['progress']='red' ">
              <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                role="progressbar" aria-valuenow=" 50" aria-valuemin="0" aria-valuemax='100' style="width : 50%">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>


    <!-- Etape du formulaire 3 -- Choix des textes -->
    <div *ngIf="this.formStep == 2" style="text-align : center;">
      <div class="form-row">
        <div class="col-md-12">
          <h2 class="card-title">Type d'écriture</h2>
          <mat-radio-group aria-label="Choisissez un type d'écriture">

            <mat-radio-button *ngIf="this.reconnaitre_type_ecriture == 'CURSIF'" value="Cursif"
              (change)="this.reconnaitre_type_ecriture = 'CURSIF'" style="font-family: cursiveFont; font-size: 40px"
              (change)="this.list['ecri']='CURSIF' " checked>Cursif</mat-radio-button>
            <mat-radio-button *ngIf="this.reconnaitre_type_ecriture != 'CURSIF'" value="Cursif"
              (change)="this.list['ecri']='CURSIF' " (change)="this.reconnaitre_type_ecriture = 'CURSIF'"
              style="font-family: cursiveFont; font-size: 40px">
              Cursif</mat-radio-button>

            <mat-radio-button *ngIf="this.reconnaitre_type_ecriture == 'CAPITAL'" value="Capital"
              (change)="this.list['ecri']='CAPITAL' " (change)="this.reconnaitre_type_ecriture = 'CAPITAL'"
              style="font-size : 40px" checked>CAPITAL
            </mat-radio-button>
            <mat-radio-button *ngIf="this.reconnaitre_type_ecriture != 'CAPITAL'" value="Capital"
              (change)="this.list['ecri']='CAPITAL' " (change)="this.reconnaitre_type_ecriture = 'CAPITAL'"
              style="font-size : 40px">CAPITAL
            </mat-radio-button>

            <mat-radio-button *ngIf="this.reconnaitre_type_ecriture == 'SCRIPT'" value="Script"
              (change)="this.list['ecri']='SCRIPT' " (change)="this.reconnaitre_type_ecriture = 'SCRIPT'"
              style="font-size : 40px" checked>Script
            </mat-radio-button>
            <mat-radio-button *ngIf="this.reconnaitre_type_ecriture != 'SCRIPT'" value="Script"
              (change)="this.list['ecri']='SCRIPT' " (change)="this.reconnaitre_type_ecriture = 'SCRIPT'"
              style="font-size : 40px">Script
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12">
          <h2 class="card-title">Vocalisation</h2>
          <i *ngIf="!this.reconnaitre_isVocaliser" class="fa-solid fa-volume-xmark"
            style="margin-right : 2%; color : #ff4083"></i>
          <i *ngIf="this.reconnaitre_isVocaliser" class="fa-solid fa-volume-xmark" style="margin-right : 2%"></i>

          <mat-slide-toggle (change)="this.list['voca']=+this.reconnaitre_isVocaliser"
            [(ngModel)]="this.reconnaitre_isVocaliser"></mat-slide-toggle>

          <i *ngIf="this.reconnaitre_isVocaliser" class="fa-solid fa-volume-high"
            style="margin-left : 2%; color : #ff4083"></i>
          <i *ngIf="!this.reconnaitre_isVocaliser" class="fa-solid fa-volume-high" style="margin-left : 2%"></i>
        </div>
      </div>


      <!-- Bouton de création du jeu -->
      <div *ngIf="!this.edit" class="form-row align-middle text-center" align="center">
        <div class="col-md-12 text-center">
          <button class="validate_button align-middle text-center" (click)="create()" mat-raised-button>Créer le
            jeu
            <i class="fa-solid fa-check fa-lg"></i>
          </button>
        </div>
      </div>

      <!-- Bouton de sauvegarde du jeu -->
      <div *ngIf="this.edit" class="form-row align-middle text-center" align="center">
        <div class="col-md-12 text-center">
          <button class="save_button align-middle text-center" (click)="save()" mat-raised-button>Sauvegarder
            le
            jeu
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
      </div>

    </div>


    <!--Formulaire Reconnaite -  Menu de navigation par étape -->
    <div class="align-bottom" style="margin : 10px">
      <button type="button" class="btn btn-primary align-left"
        style="background : rgb(13, 197, 13); float : left; border : none" (click)="previousStep()">
        <i class="fa-solid fa-angles-left"></i>
        Etape précédente
      </button>
      <button type="button" class="btn btn-primary align-right"
        style="background : rgb(13, 197, 13); float : right ; border : none" (click)="nextStep()">
        Etape suivante
        <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>

  </div>

  <!-- Formulaire Reconnaitre - Prévisualisation -->
  <div *ngIf="this.reconnaitre_previsualiser">
    <div class="prev-button align-middle text-center" style="margin-bottom : 10px; margin-top : 10px">
      <div class="prev-button align-middle text-center" style="margin-bottom : 10px">
        <button class="prev-button align-middle text-center" (click)="setPrevisualiserReconnaitre(false)"
          mat-raised-button color="warn">
          <i class="fa-solid fa-eye-slash fa-lg" style="margin-bottom : 4px"></i>
          Quitter la prévisualisation</button>
      </div>
    </div>
    <app-reconnaitre [r]="this.r" [showTitle]="false"></app-reconnaitre>
  </div>

</div>
