
.title {
  text-transform: uppercase;
  font-size: 105px;
  font-weight: bold;
  letter-spacing: 6px;
  text-shadow: rgb(0, 0, 0, 0.7) 5px 8px;
}

.title :nth-child(1n) {
  color: #835ba7;
}
.title :nth-child(2n) {
  color: #3e4194;
}
.title :nth-child(3n) {
  color: #01afee;
}
.title :nth-child(4n) {
  color: #00a656;
}
.title :nth-child(5n) {
  color: #fff116;
}
.title :nth-child(6n) {
  color: #f68635;
}
.title :nth-child(7n) {
  color: #ec3238
}
.title :nth-child(8n) {
  color: #00a656;
}
.title :nth-child(9n) {
  color: #01afee;
}

.title :nth-child(10n) {
  color: #835ba7;
}

p{
  margin-left: 4px;
  border-radius: 3%;
  padding: 1px;

}
.card {
  width: 30%;
  background: #3bb8c9;
  border-radius: 3%;
  padding: 10px;
  box-shadow: hsl(0deg 0% 0% / 40%) 10px 15px;
  color: white;
}
.image {
  display: inline;
  border: solid grey 2px;
  width:200px;
  margin-top: 70px;
}
button {
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  margin-right: 3px;
  background: rgb(201, 140, 7);
  padding: auto;
  box-shadow: rgba(92, 8, 8, 0.4) 10px 15px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: red;
  color: #666666;
}
button[disabled]:hover{
  background-color: red;
}
.progress {
  margin-top: 5px;
  background-color: red;
}
button:hover
{
background-color:purple;
color:#000;
box-shadow:3px 8px #888;
}