img{
    margin-left: 45% ;
    margin-top: 50px;
    width: 200px;
}
.animated-background{
  background: linear-gradient(
      to right, #833ab4,
      #fd1d1d, #fcb045); 
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0 50%;
  }
}
button{
    width: fit-content;
    display: inline-block;
    margin-right: -4px;
    text-align: center;
    border:#666 1px solid;
    border-radius:50%;
    margin-right: 3px;
    background: rgb(7, 156, 201);
    border-radius: 3%;
    padding: 10px;
    box-shadow: hsl(0deg 0% 0% / 40%) 10px 15px;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: red;
  color: #666666;
}

button:hover
{
background-color:#ccc;
color:#000;
box-shadow:3px 8px #888;
}