<body>


  <div class="button_connect text-right">
    <button type="button" class="btn btn-success">Connexion
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
    </button>
  </div>

  <div class="text-center">
    <h1>Application</h1>
  </div>

  <div class="code-place container text-center">
    <input type="text" name="" id="code" placeholder="Entrez votre code ici">
    <button type="button" class="btn btn-primary join_session_button">
      Rejoindre <i class="fa-solid fa-angles-right"></i>
    </button>

    <p id='test'></p>
  </div>
</body>
