@import url("../node_modules/font-awesome/css/font-awesome.min.css");
body {
  background-image: url("./assets/background.png");
  background-size: 70%;
  background-position-x: center;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: cursiveFont;
  src: url(src/assets/fonts/CrayonE.ttf);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* font-family : cursiveFont; */
}
