<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/panel">Sessions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Menu déroulé
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/panel">Option 1</a>
            <a class="dropdown-item" href="/panel">Option 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/panel">Option 3</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="redirect('Accueil')" >Déconnexion</button>
      </form>
    </div>
  </nav>

  <div class="card container" *ngIf="this.selectedGame === ''">
    <h5 class="card-header">Choisissez le jeu que vous souhaitez crée</h5>
    <div class="card-body">
      <div align="center">
        <button class="choice" *ngFor="let c of this.optionGame" (click)="this.selectedGame = c">
          {{c}}
        </button>
      </div>
    </div>
  </div>

  <div class="card container" *ngIf="this.selectedGame != ''">
    <h5 class="card-header">{{this.selectedGame}}</h5>
    <div class="card-body">
      <!-- {{r1.id}}
      {{r2.id}} -->
    </div>
  </div>



</body>
