<!-- Barre de navigation -->
<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/panel/sessions"><span
      class="mat-badge mat-badge-warn mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
      matBadge="{{this.sessionActive.length}}" matBadgeColor="warn">Sessions</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/panel" role="">
          Accueil
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/panel/create" id="navbarDropdown" role="button" aria-haspopup="true"
          aria-expanded="false">
          Créer un jeu
        </a>
      </li>

      <li class="nav-item dropdown" *ngFor="let g of this.optionGame">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{g}}
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/panel/{{g}}">Listes des {{g}} créer</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/panel/{{g}}/create">Créer un jeu {{g}}</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button mat-stroked-button color="primary" class="quit_button" (click)="redirect('Accueil')">Déconnexion</button>
    </form>
  </div>
</nav>

<!-- Panel - Page d'accueil -->
<div class="card container" *ngIf="this.panel == null">
  <h5 class="card-header">Bonjour {{'{'}}USER{{'}'}}</h5>
  <div class="card-body text-center">
    <h2 class="card-title">Que souhaitez vous faire ?</h2>
    <mat-divider style="background : #ececec ; width : 40%; display : inline-block"></mat-divider>
  </div>

  <div class="row text-center">


    <!-- Session -->
    <div class="col-md-6">
      <h3 class="card-title" style="margin-bottom : -10px">Séssion</h3>
      <mat-divider style="background : #ececec ; width : 80%; display : inline-block; margin-bottom : 5px">
      </mat-divider>

      <button mat-raised-button color="primary" class="session_choice" [routerLink]="['/panel/sessions']">
        <i class="fa-solid fa-eye fa-lg fa-xl" style=" margin-bottom : 2px "></i>
        <span>Afficher toutes les séssions</span>

      </button>


      <button *ngIf="this.sessionActive.length != 0" mat-raised-button color="primary" class="session_choice"
        [routerLink]="['/panel/sessions/active']">
        <i class="fa-solid fa-circle-check fa-xl" style=" margin-bottom : 2px "></i>

        <span>Afficher les séssions actives</span>
      </button>

      <button *ngIf="this.sessionActive.length == 0" mat-raised-button disabled color="primary" class="session_choice"
        [routerLink]="['/panel/sessions/active']">

        <i class="fa-solid fa-circle-check fa-xl" style=" margin-bottom : 2px "></i>
        <span>Afficher les séssions actives</span>
      </button>


      <button mat-raised-button color="primary" class="session_choice" [routerLink]="['/panel/sessions/create']">
        <i class="fa-solid fa-circle-plus fa-xl"></i>
        <span>Créer une séssions</span>
      </button>

    </div>


    <!-- Jeux -->
    <div class="col-md-6">
      <h3 class="card-title" style="margin-bottom : -10px ;">Jeux</h3>
      <mat-divider style="background : #ececec ; width : 90%;  display : inline-block; margin-bottom : 5px">
      </mat-divider>

      <div class="game-choice">
        <button class="panel-choice" *ngFor="let c of this.optionGame" id="{{c}}" [routerLink]="['/panel/', c]" mat-raised-button
        color="primary">

        <i *ngIf="c == 'Recopier'" class="fa-solid fa-pen fa-lg"></i>
        <i *ngIf="c == 'Memory'" class="fa-solid fa-brain fa-lg"></i>
        <i *ngIf="c == 'Reconnaitre'" class="fa-solid fa-eye fa-lg"></i>
        <i *ngIf="c == 'Abecedaire'" class="fa-solid fa-a fa-lg"></i>
        <i *ngIf="c == 'Abecedaire'" class="fa-solid fa-minus fa-lg"></i>
        <i *ngIf="c == 'Abecedaire'" class="fa-solid fa-z fa-lg"></i>
        <i *ngIf="c == 'Fille&Garçon'" class="fa-solid fa-children fa-lg"></i>
        <i *ngIf="c == 'Puzzle'" class="fa-solid fa-puzzle-piece fa-lg"></i>

        <span>{{c}}</span>


      </button>
      </div>

    </div>

  </div>

</div>

<!-- Si /panel/create -->
<div *ngIf="this.panel == 'create'">
  <!-- Si aucun jeu n'est selectionné -->
  <div class="card container" *ngIf="this.selectedGame === '' ">
    <h5 class="card-header">Choisissez le jeu que vous souhaitez crée</h5>
    <div class="card-body">
      <div align="center">
        <button class="choice" *ngFor="let c of this.optionGame" [routerLink]="['/panel/', c,'create']"
          mat-raised-button color="primary">
          <i *ngIf="c == 'Recopier'" class="fa-solid fa-pen "></i>
          <i *ngIf="c == 'Memory'" class="fa-solid fa-brain "></i>
          <i *ngIf="c == 'Reconnaitre'" class="fa-solid fa-eye "></i>
          <i *ngIf="c == 'Abecedaire'" class="fa-solid fa-a "></i>
          <i *ngIf="c == 'Abecedaire'" class="fa-solid fa-minus "></i>
          <i *ngIf="c == 'Abecedaire'" class="fa-solid fa-z "></i>
          <i *ngIf="c == 'Fille&Garçon'" class="fa-solid fa-children "></i>
          <i *ngIf="c == 'Puzzle'" class="fa-solid fa-puzzle-piece "></i>

          <span>{{c}}</span>
        </button>
      </div>
    </div>
  </div>

</div>

<!-- Si un jeu est selectionné -->
<div *ngIf="this.selectedGame != '' && this.optionGame.includes(this.selectedGame!)">

  <div *ngIf="this.panel_option == 'create'">



    <!-- Formulaire Recopier -->

    <div *ngIf="this.selectedGame == 'Recopier'">
      <app-recopier-game [showTitle]="false" [create_game]="true" [play]="false"></app-recopier-game>
    </div>


    <!-- Formulaire Fille Garcon -->
    <div class="card-body" *ngIf="this.selectedGame == 'Fille&Garçon'">
      <app-boy-girl-game [play]="false" [showTitle]="false" [create_game]="true"></app-boy-girl-game>
    </div>

    <!-- Formulaire Reconnaitre -->
    <div *ngIf="this.selectedGame == 'Reconnaitre'">
      <app-reconnaitre [play]="false" [showTitle]="false" [create_game]="true"></app-reconnaitre>
    </div>


    <!-- Formulaire Abecedaire -->
    <div *ngIf="this.selectedGame == 'Abecedaire'">
      <app-abecedaire [create_game]="true" [play]="false" [showTitle]="false"></app-abecedaire>
    </div>

    <!-- Formulaire Memory -->
    <div *ngIf="this.selectedGame =='Memory'">
      <app-memory [play]="false" [showTitle]="false" [create_game]="true"></app-memory>
    </div>

    <!-- Formulaire Puzzle -->
    <div class="card-body" *ngIf="this.selectedGame == 'Puzzle'">
      <app-puzzle [play]="false" [showTitle]="false" [create_game]="true"></app-puzzle>
    </div>

  </div>

  <div *ngIf="this.panel_option == 'showList'">



    <!-- Liste des jeux Recopier -->
    <div *ngIf="this.selectedGame ==  'Recopier'">
      <app-recopier-game [showList]="true" [showTitle]="false" [play]="false"></app-recopier-game>
    </div>


    <!-- Liste des jeux Mémory -->
    <div *ngIf="this.selectedGame == 'Memory'">
      <app-memory [showList]="true" [showTitle]="false" [play]="false"></app-memory>

    </div>

    <!-- Liste des jeux Reconnaitre -->
    <div *ngIf="this.selectedGame ==  'Reconnaitre'">
      <app-reconnaitre [play]="false" [showList]="true" [showTitle]="false"></app-reconnaitre>
    </div>

    <!-- Liste des jeux Abecedaire -->
    <div *ngIf="this.selectedGame == 'Abecedaire'">
      <app-abecedaire [play]="false" [showList]="true" [showTitle]="false"></app-abecedaire>
    </div>

    <!-- Liste des jeux Fille&Garçon -->
    <div *ngIf="this.selectedGame == 'Fille&Garçon'">
      <app-boy-girl-game [play]="false" [showTitle]="false" [showList]="true"></app-boy-girl-game>
    </div>

    <div *ngIf="this.selectedGame == 'Puzzle'">
      <app-puzzle [play]="false" [showTitle]="false" [showList]="true"></app-puzzle>
    </div>

  </div>

  <div *ngIf="this.panel_option == 'edit'">


    <!-- Formulaire édition Recopier -->
    <div *ngIf="this.selectedGame == 'Recopier'">
      <app-recopier-game [play]="false" [edit]="true" [showTitle]="false" [r]="this.recopier"></app-recopier-game>
    </div>

    <!-- Formulaire édition Memory -->
    <div *ngIf="this.selectedGame == 'Memory'">
      <app-memory [play]="false" [edit]="true" [showTitle]="false" [game]="this.memory"></app-memory>

    </div>

    <!-- Formulaire édition Reconnaite -->
    <div *ngIf="this.selectedGame == 'Reconnaitre'">
      <app-reconnaitre [play]="false" [edit]="true" [showTitle]="false" [r]="this.reconnaitre"></app-reconnaitre>
    </div>

    <!-- Formulaire édition Abecedaire -->
    <div *ngIf="this.selectedGame == 'Abecedaire'">
      <app-abecedaire [play]="false" [edit]="true" [showTitle]="false" [game]="this.abecedaire"></app-abecedaire>
    </div>

    <!-- Formulaire édition Fille&Garçon -->
    <div *ngIf="this.selectedGame == 'Fille&Garçon'">
      <app-boy-girl-game [play]="false" [showTitle]="false" [edit]="true" [bg]="this.boygirl"></app-boy-girl-game>
    </div>

    <!-- Formulaire édition Puzzle -->
    <div *ngIf="this.selectedGame == 'Puzzle'">
      <app-puzzle [play]="false" [showTitle]="false" [edit]="true" [r]="this.puzzle"></app-puzzle>
    </div>

  </div>
</div>

<!-- SESSIONS -->
<div *ngIf="this.panel == 'sessions'">

  <!-- Affiche la liste des séssions -->
  <div
    *ngIf="(this.panel_option == null || (this.panel_option != 'edit' && this.panel_option != 'view' && this.panel_option != 'preview')) && !this.create_session">
    <div *ngIf="!this.showActive">
      <app-sessions [play]="false" [showList]="true"></app-sessions>

    </div>
    <div *ngIf="this.showActive">
      <app-sessions [play]="false" [showActive]="true" [showList]="true"></app-sessions>

    </div>
  </div>


  <!-- Créer une séssion -->
  <div *ngIf="this.create_session">
    <app-sessions [play]="false" [create_session]="true"></app-sessions>
  </div>

  <!-- Superviser une séssion -->
  <div *ngIf="this.panel_option == 'view'">
  </div>

  <!-- Editer une séssion -->
  <div *ngIf="this.panel_option == 'edit'">
    <app-sessions [play]="false" [edit]="true" [selected_session]="this.getSession()"></app-sessions>
  </div>

</div>
